{% extends "base_registration.html" %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div class="form-elem-lbl">
        <p>Укажите адрес электронной почты на который будет отправлен новый пароль.</p>
    </div>
    <div class="form-elem-msg">
        {{ form.email }}
    </div>
    <div class="form-elem-btn">
        <input type="submit" class="btn btn-default btn-lg" value="Изменить пароль" />
    </div>
</form>

{% endblock %}