{% extends "base_generic.html" %}

{% block content %}
{% load static %}

{# уведомления #}
{% if msg %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
</div>
{% endif %}

{# заголовок страницы #}
<div>
    <h2>{{ title }}</h2>
    <p>{{ annotation }}</p>
</div>

{# основная часть #}
<div class="container-fluid" style="margin-left:20px;margin-top:20px;">
    {% if notice_obj %}
    {# данные по сообщению #}
    <blockquote>
        <p><strong>{{ notice_obj.title }}</strong></p>
        <p>{{ notice_obj.content }}</p>
        <footer>Опубликовано <cite title="Source Title">{{ notice_obj.published}} ( {{ notice_obj.creator }} )</cite></footer>
    </blockquote>

    {# связанные документы #}
    <blockquote>
        {% if doc_list %}
        <p><strong>Связанные документы:</strong></p>
        <table class="table table-condensed">
            {# названия полей #}
            <thead style="background-color:lightgray">
                <tr>
                    <th scope="col">Тип</th>
                    <th scope="col">Имя файла</th>
                    <th scope="col">Добавлен</th>
                    <th scope="col">Создатель</th>
                </tr>
            </thead>
            {# данные таблицы #}
            <tbody class="table">
                {% for doc in doc_list %}
                <tr>
                    <td>
                        <img src="{% static 'Images/'%}{{ doc.ext_ico }}" alt="Расширение файла" style="width:22px; height:auto;"/>
                    </td>
                    <td><a href="/media/{{ doc.document }}">{{ doc.first_name }}</a></td>
                    <td>{{ doc.published }}</td>
                    <td>{{ doc.creator }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <footer>Всего файлов: <cite title="Source Title">{{ doc_list.count }}</cite></footer>
        {% else %}
        <footer>Связанных документов нет <cite title="Source Title"></cite></footer>
        {% endif %}
    </blockquote>

    {% else %}
    <p>Ошибка. Сообщение не найдено.</p>
    {% endif %}
</div>

{# выход #}
<div>
    {% if ret_url %}
    <a class="btn btn-default" href="{{ ret_url }}" role="button">Вернуться к списку</a>
    {% else %}
    <a class="btn btn-default" href="{% url 'index' %}" role="button">Вернуться к списку</a>
    {% endif %}
</div>
{% endblock %}
