{% extends "base_generic.html" %}

{% block content %}

{# уведомления #}
{% if msg %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
</div>
{% endif %}

{# заголовок страницы #}
<div>
    <h2>{{ title }}</h2>
    <p>{{ annotation }}</p>
</div>

{# табличная часть #}
<div style="margin-left:20px;margin-top:20px">
    <table class="table table-sm table-striped">
        {% if employee_obj %}
        {# названия полей #}
        {# данные таблицы #}
        <tbody class="table">
            <tr>
                <td><strong>ФИО:</strong></td>
                <td>{{ employee_obj.empl_name }}</td>
            </tr>
            <tr>
                <td><strong>ИНН:</strong></td>
                <td>{{ employee_obj.inn }}</td>
            </tr>
            <tr>
                <td><strong>Таб номер:</strong></td>
                <td>{{ employee_obj.tab_number }}</td>
            </tr>
            <tr>
                <td><strong>Должность по ШР:</strong></td>
                <td>{{ employee_obj.position }}</td>
            </tr>
            <tr>
                <td><strong>Мотивационная роль:</strong></td>
                <td>{{ employee_obj.motivationRole }}</td>
            </tr>
            <tr>
                <td><strong>Принят:</strong></td>
                <td>{{ employee_obj.start_date }}</td>
            </tr>
            <tr>
                <td><strong>Уволен:</strong></td>
                <td>{{ employee_obj.end_date }}</td>
            </tr>
            <tr>
                <td><strong>Примечание:</strong></td>
                <td>{{ employee_obj.note }}</td>
            </tr>
            <tr>
                <td><strong>Создатель:</strong></td>
                <td>{{ employee_obj.creator }}</td>
            </tr>
            <tr>
                <td><strong>Создан:</strong></td>
                <td>{{ employee_obj.insertDateTime }}</td>
            </tr>
        </tbody>
        {% else %}
        <p>Ошибка. Сотрудник не найден.</p>
        {% endif %}
    </table>
</div>

{# выход #}
<div>
    {% if ret_url %}
    <a class="btn btn-default" href="{{ ret_url }}" role="button">Вернуться к списку</a>
    {% else %}
    <a class="btn btn-default" href="{% url 'employee_list' %}" role="button">Вернуться к списку</a>
    {% endif %}
</div>

{% endblock %}
